/* body {
  background-color: #111;
}

.explanation {
  font-family: verdana;
  color: #ccc;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  margin-bottom: 5px;
  font-size: x-small;
  padding-bottom: 5px;
}

.page-header {
  font-family: helvetica;
  font-weight: lighter;
  color: #cccccc;
  font-style: normal;
  text-align: center;
  font-size: xx-large;
  margin: 0px;
}

.explanation p a {
  color: #6495ed;
}

html {
  background-color: #111;
}

.explanation a {
  color: #6495ed;
}

#globe {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 600px;
}

div {
  background-color: #111;
} */

/* body {
  margin: 0;
  overflow: hidden;

  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  color: #444;
}

h1 {
  position: absolute;
  width: 100%;

  z-index: 1;
} */

#chart {
  /* position: absolute; */
  width: 1100px;
  height: 700px;
}
