.mps-inline-block {
  /* display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 72%;
  text-decoration: none;
  right: 0rem;
  margin-bottom: 1rem; */
}

.post-img {
  /* position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block; */
  width: 400px;
  height: 300px;
  object-fit: scale-down;
}

.mps-inline-block .wide {
  max-width: 100%;
}

.mps-inline-block.wide > .post-img {
  width: 1200px;
  height: 700px;
}

.centered {
  max-width: 1400px;
}
